<footer class="page-footer">
    <div class="page-footer__wrapper">
        <div class="page-footer__container">

            <div class="page-footer__form">
                <h2>Подпишитесь на нашу рассылку и узнавайте о акциях быстрее</h2>
                <form action="#" method="get">
                    <div class="page-footer__form-row">
                        <label class="visually-hidden" for="email">Введите ваш e-mail:</label>
                        <input type="email" name="email" id="email" placeholder="Введите ваш e-mail:" required="">
                        <button type="submit" name="button">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="page-footer__sections">
                <div class="page-footer__info">
                    <div class="page-footer__accordeon-container">
                        <h2>Информация</h2>
                        <button type="button" name="button">
                            <span class="visually-hidden">Информация</span>
                        </button>
                    </div>
                    <ul>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                        <li>
                            <a href="#">Реквизиты</a>
                        </li>
                        <li>
                            <a href="#">Магазины</a>
                        </li>
                    </ul>
                </div>

                <div class="page-footer__service">
                    <div class="page-footer__accordeon-container">
                        <h2>Сервисный центр</h2>
                        <button type="button" name="button">
                            <span class="visually-hidden">
                                Сервисный центр
                            </span>
                        </button>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Доставка и самовывоз</a>
                        </li>
                        <li>
                            <a href="#">Оплата</a>
                        </li>
                        <li>
                            <a href="#">Возврат-обмен</a>
                        </li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                    </ul>
                </div>

                <div class="page-footer__store">
                    <div class="page-footer__accordeon-container">
                        <h2>Интернет-магазин</h2>
                        <button type="button" name="button">
                            <span class="visually-hidden">
                                Интернет магазин
                            </span>
                        </button>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Доставка и самовывоз</a>
                        </li>
                        <li>
                            <a href="#">Оплата</a>
                        </li>
                        <li>
                            <a href="#">Возврат-обмен</a>
                        </li>
                        <li>
                            <a href="#">Новости</a>
                        </li>
                        <li>
                            <a href="#">Акции</a>
                        </li>
                        <li>
                            <a href="#">Договор оферты</a>
                        </li>
                        <li>
                            <a href="#">Политика обработки
                                персональных данных</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="page-footer__title">Интернет-магазин автозапчастей</p>
    </div>
</footer>