<header class="page-header">
  <div class="page-header__wrap">
    <div class="page-header__top">
      <div class="page-header__container">
        <h1 class="visually-hidden">Интернет-магазин Автозапчастей: Главная</h1>
        <button class="page-header__menu-toggle" type="button">
          <span class="visually-hidden">Открыть меню</span>
          <span class="page-header__menu-toggle-bar"></span>
        </button>
        <a class="logo">
          Логотип Интернет-магазина Автозапчастей
        </a>
        <div class="menu">
          <div class="menu__wrap">
            <ul class="menu__user">
              <li class="menu__user-item">
                <a class="menu__user-link menu__user-link--log-in" href="#">Войти</a>
              </li>
              <li class="menu__user-item">
                <a class="menu__user-link menu__user-link--sign-up" href="#">Регистрация</a>
              </li>
              <li class="menu__user-item">
                <a class="menu__user-link menu__user-link--favorites" href="#">Избранное</a>
              </li>
            </ul>
            <ul class="menu__main">
              <li class="menu__main-item">
                <a class="menu__main-link menu__main-link--shops" href="#">Магазины</a>
              </li>
              <li class="menu__main-item">
                <a class="menu__main-link menu__main-link--actions" href="#">Акции</a>
              </li>
              <li class="menu__main-item">
                <a class="menu__main-link menu__main-link--delivery" href="#">Доставка и оплата</a>
              </li>
            </ul>
            <ul class="menu__cats">
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Каталог Запчастей</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Каталог ТО</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Шины</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Диски</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Аккумуляторы</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Автомасла</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Автолампы</a>
              </li>
              <li class="menu__cats-item">
                <a class="menu__cats-link" href="#">Аксессуары</a>
              </li>
            </ul>
            <a class="menu__address" href="#">Санкт-Петербург, ул Большая Конюшенная, д&nbsp;19</a>
          </div>
        </div>
        <ul class="user-nav">
          <li class="user-nav__item">
            <a class="user-nav__link user-nav__link--favorites" href="#">
              <span class="visually-hidden">Избранное</span>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__link user-nav__link--account" href="#">
              <span class="visually-hidden">Личный кабинет</span>
            </a>
          </li>
          <li class="user-nav__item">
            <a class="user-nav__link user-nav__link--cart" href="#">
              <span class="visually-hidden">Корзина</span>
              <span class="user-nav__link-content">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="page-header__bottom nav">
      <div class="nav__container">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Каталог Запчастей</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Каталог ТО</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="#">Шины</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Диски</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Аккумуляторы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Автомасла</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Автолампы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Аксессуары</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>